<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/"><img src="/img/logo.svg" height="36"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" datatarget="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" arialabel="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sites">Sites</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="/measures">Mesures</a>
                </li>
            </ul>
             <ul class="nav justify-content-end">
                 <li class="nav-item">
                     {{#logged}}
                         <form action="/logout" method="post">
                             <input type="hidden" name="{{_csrf.parameterName}}"
                                    value="{{_csrf.token}}">
                             <button type="submit" class="btn btn-link nav-link"><i class="fa falock"></i>&nbsp;Se déconnecter</button>
                         </form>
                     {{/logged}}
                     {{^logged}}<a class="nav-link" href="/formLogin"><i class="fa fa-lockopen"></i> Se connecter</a>{{/logged}}
                 </li>
             </ul>
         </div>
    </nav>
</header>