<html>
    <head>
    <title>Site BigCorp</title>
    {{> partial-import}}
    </head>
    <body>
        {{> partial-header}}
        <div class="container">
            {{#site.id}}
            <h1>Modification site</h1>{{/site.id}}
            {{^site.id}}<h1>Création site</h1>{{/site.id}}
            <form action="/sites" method="post">
                <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" id="name" name="name" required value="{{#site.name}}{{site.name}}{{/site.name}}" aria-describedby="nameHelp" placeholder="Nom du site">
                    <small id="nameHelp" class="form-text text-muted">Le nom d'un site doit être unique</small>
                </div>
                {{#site.id}}
                <input type="hidden" class="form-control" name="id" value="{{site.id}}">
                    <div class="form-group">
                        <h2>Liste des capteurs</h2>
                            <div>
                                <a class="btn btn-primary" href="/sites/{{site.id}}/captors/create">Nouveau Capteur</a>
                    </div>
                    <hr>
                         <fieldset>
                             <table class="table">
                                <thead>
                                    <th>Nom</th>
                                    <th>Type</th>
                                    <th>Actions</th>
                                </thead>
                                <tbody>
                                    {{#site.captors}}
                                        <tr>
                                            <td>{{name}}</td>
                                            <td>{{powerSource}}</td>
                                            <td><a class="btn btn-primary" href="/sites/{{site.id}}/captors/{{id}}" role="button">Editer</a></td>
                                        </tr>
                                            {{/site.captors}}
                                </tbody>
                            </table>
                        </fieldset>
                    </div>
                        {{/site.id}}
                            <a class="btn btn-secondary" href="/sites">Annuler</a>
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                            {{#site.id}}<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">Supprimer</button>{{/site.id}}
            </form>
         </div>
         {{#site.id}}
            <div class="modal" tabindex="-1" role="dialog" id="deleteModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Confirmation suppression</h5>
                            <button type="button" class="close" data-dismiss="modal" arialabel="Close">
                                    <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Etes vous sûr de vouloir supprimer le site <b>{{site.name}}</b>?</p>
                        </div>
                    <div class="modal-footer">
                            <form action="/sites/{{site.id}}/delete" method="post">
                                    <button type="button" class="btn btn-secondary" datadismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-danger">Supprimer</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    {{/site.id}}
    {{> partial-footer}}
    </body>
</html>
