<html>
    <head>
        <title>Sites BigCorp</title>
        {{> partial-import}}
    </head>
    <body>
        {{> partial-header}}
        <div class="container">
            <h1>Liste des sites</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Capteurs</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#sites}}
                    <tr>
                        <td>{{name}}</td>
                        <td>
                            <ul>
                                {{#captors}}
                                <li>{{name}}</li>
                                    {{/captors}}
                            </ul>
                        </td>
                        <td>
                            {{#admin}}
                            <a class="btn btn-primary" href="/sites/{{id}}" role="button">Editer</a>{{/admin}}
                            <a class="btn btn-primary" href="/sites/{{id}}/measures" role="button">Mesures</a>
                        </td>
                    </tr>
                        {{/sites}}
                </tbody>
            </table>
            {{#admin}}
            <a class="btn btn-primary" href="/sites/create" role="button">Nouveau site</a>{{/admin}}
        </div>
        {{> partial-footer}}
    </body>
</html>